.wrapper {
  margin: 0 10px;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.buttonDisabled {
  background-color: transparent;
  border: none;  
  cursor: default;
  color: white;
}
